.contain {
  margin-top: 55px;
  text-align: center;
  padding-top: 5px;
  width: 100%;
}
.contain h2 {
  font: 50px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(0, 0, 255, 0.5);
}

.Ty-container {
  display: flex;
  width: 100%;
}
.gametext {
  width: 50%;
}
iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p {
  font-family: cursive;
}
textarea {
  resize: both;
}
.rev h1 {
  font: 50px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(59, 59, 117, 0.5);
}
