.contain {
  margin-top: 55px;
  text-align: center;
  padding-top: 5px;
  width: 100%;
}
.contain h2 {
  font-family: cursive;
  color: rgb(218, 123, 197);
}
.Ty-container {
  display: flex;
  width: 100%;
}
.gametext {
  width: 50%;
}
iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p {
  font-family: cursive;
}
textarea {
  resize: both;
}
.rev h1 {
  font-family: cursive;
  color: rgb(218, 123, 197);
}
