.Gamesreview {
  margin-top: 55px;
}
.headWrap {
  height: 30px;
  background-color: black;
}
.headWrap h6 {
  padding-top: 5px;
  color: white;
}
.bodyWrap {
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  /* border: 3px solid green; */
}
.Gamesreview a:link {
  color: black;
}

/* visited link */
.Gamesreview a:visited {
  color: green;
}

/* mouse over link */
.Gamesreview a:hover {
  color: rgb(204, 204, 72);
}

/* selected link */
.Gamesreview a:active {
  color: blue;
}

.rating {
  background-color: greenyellow;
  width: 100px;
  border-radius: 100px;
  font-size: 25px;
  text-align: center;
}
