.App {
  text-align: center;
}
.Topdiv {
  align-items: center;
  justify-content: center;
}
.box {
  margin: 40px;
  margin-top: 55px;
  /* background-color: rgb(189, 140, 221); */
  background: transparent;
}

.TopContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.align-items-center {
  padding: 18%;
}
#footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: linear-gradient(to bottom, #2c756f 0%, #83ecd5 100%);
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
/* .Mainapp {
  display: flex;
} */
.dropGames {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(112, 167, 169, 1) 100%
  );
  align-items: center;
  font-family: cursive;
}
p {
  font: Helvetica, Sans-Serif;
  /* letter-spacing: -5px; */
  color: rgba(196, 77, 97, 0.5);
}
